<ion-view view-title="अ. भा. जैन ओसवाल साजनान फेडरेशन ( रजि. )">
	<div class="bar bar-subheader bar-secondary">
      <h2 class="title secondary">एम्प्लॉयमेंट डिटेल्स</h2>
    </div>
	<ion-content>
		<div class="row pagesubheader">
			<div class="col col-100">
				<p>{{ empdetails.Full_Detail }}</p>
				<p style="border-top:2px solid #3a3aa5;"></p>
				<p><b>By</b> {{ empdetails.Posted_by }} <b>On</b> {{ empdetails.date_time }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-100" style="margin-bottom:90px;"></div>
		</div>
		
    </ion-content>
</ion-view>
