<ion-view view-title="अ. भा. जैन ओसवाल साजनान फेडरेशन ( रजि. )">
	<div class="bar bar-subheader bar-secondary">
      <h2 class="title secondary">एम्प्लॉयमेंट</h2>
    </div>
	<ion-content>
        <!-- संघ/ग्रुप  -->
        <div class="row pagesubheader">
        	<div class="col col-50 col-offset-50">
            	<a style="margin:0px;" ng-click = "empform();" class="button icon ion-briefcase button-small button-balanced button-block">
				    क्रिएट एम्प्लॉयमेंट
				</a>
            </div>
        </div>
		<div>
			<a ng-repeat="emp in emps" ui-sref="app.empdetails({emp_id:emp.employment_id})">
				<div class="card" style="margin:0px 10px 5px 10px">
				  <div class="item item-text-wrap">
					{{ emp.Short_Detail }}....
				  </div>
				  <div class="item item-divider">
					<p><b>On</b> {{ emp.date_time }} <b>By</b> {{ emp.Posted_by }}</p>
				  </div>
				</div>
			</a>
		</div>
		<div class="row">
            <div class="col col-100" style="margin-bottom:90px;">
            </div>
        </div>
    </ion-content>
</ion-view>
